<%= javascript_packs_with_chunks_tag 'home', 'application' %>
<%= stylesheet_packs_with_chunks_tag 'home', 'application' %>

<!--<div id="params" data-params="<%= @data %>"></div>
<script src="https://js.stripe.com/v3/"></script> -->
<%# <script src="http://localhost:8097"></script> %>